* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div {
    margin: 140px auto;
    max-width: 500px;
    padding: 15px;
}

input {
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
}

button {
    padding: 5px;
    width: 100%;
    color: rgb(0, 0, 0);
    background-color: cyan;
    border: 0;
    cursor: pointer;
    transition: background-color 0.5s;
}

button:hover {
    background-color: blue;
    color: white;
}

p {
    padding-bottom: 5px;
}